.products{
	min-height: 700px;
	margin-bottom: 20px;

	.container{

		.row-center{
			margin:auto !important;
		}
	}
}
.products__title{
	font-size: 44px;
	font-weight: bold;
	color: $brown;
	font-family: Pacifico, cursive;
	text-align: center;
	margin: 40px 0;
}
.cards-container{
	margin: 10px auto ;
	padding: 2.5%;
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-wrap: wrap;
}
.product-card{
	box-shadow: -4px -4px 7px hsla(0,0%,100%,.313725),3px 3px 5px rgba(94,104,121,.288);
	width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	margin: 30px;
	box-sizing: border-box;
	overflow: hidden;

	.card__header{
		height: 70%;
		width: 100%;
		border: none;
		overflow: hidden;
		position: relative;
		
		.card__img{
			overflow: hidden;
			width: 100%;
			height: 100%;
			transition: transform 300ms ease;
			z-index: 96;

			&:hover{
				transform: scale(1.15);
			}
		}
		.card__header__info-container{
			position: absolute;
			top: 0;
			width: 100%;
			height: 25%;
			background-color: #00000071;
			padding: 2.5%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 97;
			color: $textColor;
			transition: all ease 300ms;
			font-weight: bolder;

			.price{
				font-size: 18px;
				margin-top: 10px;
				margin-left: 10px;
			}
			.ico{
				font-size: 25px;
				border-radius: 50%;
				padding: 5px;
				box-sizing: content-box;
				transition: all ease 300ms;
				cursor: pointer;

				&:hover{
					background-color: $primary;
				}
				&:focus{
					outline: none;
				}
			}
		}
	}
	.card__footer{
		height: 30%;
		width: 100%;
		display: flex;
		text-align: left;
		padding: 5px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #898989;

		.card__footer-title{
			color: $primary;
			align-self: flex-start;
			
			h3{
				font-size: 18px;
				font-weight: bold;
			}
		}
		.card__footer-description{
			font-size: 14px;
			align-self: flex-start;
		}
	}
}
.modal-content{
	color: #898989;

	.disableLink{
		pointer-events: none;
		cursor: default;
		background-color: darken($primary, $amount: 20);
		color: #ccc;
		border: 1px solid darken($primary, $amount: 20) ;
	}

	.modal-title{
		font-weight: bold;
		font-size: 30px;
		color: $primary;
	}
	.modal-body{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		img{
			width: 100%;
			height: 280px;
		}
		label{
			align-self: flex-start;
			font-weight: bold;
			font-size: 20px;
			color: darken($color: #898989, $amount: 20);
		}
		p{
			align-self: flex-start;
		}
	}
}

@media screen and ( max-width: 768px ){
	.products{
		margin: 0px;
	}
	.product-card{
		margin: 10px auto;
		border-radius: 4px;
	}
	.cards-container{
		justify-content: space-around;
	}
}
@media screen and ( max-width: 576px ){
	.cards-container{
		justify-content: space-around;
	}
	.product-card{
		width: 140px;
		height: 200px;
		margin: 10px auto;
		border-radius: 4px;
	}

	.card__footer{
		flex-direction: row;
		justify-content: center;
		text-align: center;

		.card__footer-description{
			display: none;
		}
		.card__footer-title{
			justify-self: center;
			align-self: center;

			h3{
				font-size: 14px;
				text-align: center;
			}
		}
	}

	.modal-content{
		
		.modal-title{
			font-size: 20px;
		}
		.modal-body{
			width: 100%;
	
			img{
				width: 100%;
				height: 120px;
			}
			label{
				font-weight: bold;
				font-size: 20px;
				color: darken($color: #898989, $amount: 20);
			}
		}
	}
}
