// #692412
//reset

//varibales
$primary:#C52E63;
$primaryV2: #EE4A84;
$secondary:#9AD5C6;
$textColor: #FEFBE8;
$brown: #692412;
$bgResponsiveNav: #692412;
$bgNav: #9AD5C6;
$shadowBox: -4px -4px 7px #EE4A84,
			3px 3px 5px #C52E63;

$theme-color: (
	"info": #9AD5C6,
	"primary": #EE4A84,
);